<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Erp.Common.Resource" version="1.0.0" targetFramework="net40" />
  <package id="Erp.CommonData" version="1.0.0.11" targetFramework="net40" />
  <package id="Erp.GpPlatformService.Interface" version="1.0.0.3" targetFramework="net40" />
  <package id="Erp.GpServiceClient" version="1.0.0.4" targetFramework="net40" />
  <package id="Hondee.BaseData.Service" version="1.0.0.1" targetFramework="net40" />
  <package id="Hondee.BaseData.ServiceFace" version="1.0.0" targetFramework="net40" />
  <package id="Hondee.BaseData.ServiceFace.Dto" version="1.0.0" targetFramework="net40" />
  <package id="Hondee.Common" version="1.0.1.7" targetFramework="net40" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net40" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net40" />
</packages>