<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="4.0.4" targetFramework="net40" requireReinstallation="true" />
  <package id="CommonServiceLocator" version="1.0" targetFramework="net40" />
  <package id="Erp.Common.Resource" version="1.0.0" targetFramework="net40" />
  <package id="Erp.CommonData" version="1.0.0.23" targetFramework="net452" />
  <package id="Erp.GpPlatformService" version="1.0.0.9" targetFramework="net452" />
  <package id="Erp.GpPlatformService.Interface" version="1.0.0.17" targetFramework="net452" />
  <package id="Erp.GpServiceClient" version="1.0.0.20" targetFramework="net452" />
  <package id="Erp.SharedLib" version="1.0.0.69" targetFramework="net40" />
  <package id="GP.DistributedServices.Seedwork" version="1.0.0" targetFramework="net40" />
  <package id="GP.Infrastructure.Crosscutting" version="1.0.0" targetFramework="net40" />
  <package id="Hondee.BaseData.Service" version="1.0.0.1" targetFramework="net40" />
  <package id="Hondee.BaseData.ServiceFace" version="1.0.0" targetFramework="net40" />
  <package id="Hondee.BaseData.ServiceFace.Dto" version="1.0.0" targetFramework="net40" />
  <package id="Hondee.Common" version="1.0.1.14" targetFramework="net452" />
  <package id="Hondee.Common.Advance" version="1.0.0.4" targetFramework="net40" />
  <package id="Hondee.CommonAdvance" version="1.0.0.3" targetFramework="net40" />
  <package id="Hondee.Platform.Client" version="1.0.0.1" targetFramework="net40" />
  <package id="log4net" version="2.0.7" targetFramework="net40" requireReinstallation="true" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net40" />
  <package id="NPOI" version="2.2.1" targetFramework="net40" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net40" />
  <package id="Unity" version="2.1.505.2" targetFramework="net40" />
</packages>