<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <connectionStrings>
    <!--<add name="dbConnection" connectionString="Data source=172.16.0.27\GPErP;initial catalog=ERP_Inventory;Persist Security Info=True;User ID=sa;Password=linger_000;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="dbConnection" connectionString="Data source=192.168.2.200\GPERP;initial catalog=ERP_Inventory;Persist Security Info=True;User ID=sa;Password=linger_000;" providerName="System.Data.SqlClient"/>-->
    <add name="dbConnection" connectionString="Data source=172.16.0.64\GPERP;initial catalog=ERP_Inventory;Persist Security Info=True;User ID=sa;Password=linger_000;" providerName="System.Data.SqlClient"/>
    <!--<add name="dbConnection" connectionString="Data source=172.16.0.64\GPERP;initial catalog=ERP_Subpay;Persist Security Info=True;User ID=sa;Password=linger_000;" providerName="System.Data.SqlClient" />-->
    <!--<add name="dbConnection" connectionString="Data source=172.16.0.41\GPERP;initial catalog=ERP_Subpay;Persist Security Info=True;User ID=sa;Password=linger_000;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <!--
    有关 .NET 4.5 的 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.5.2" debug="true"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true">
      <serviceActivations>
        <add relativeAddress="HD.MeteringPayment.Domain.Entity.BaseInfoEntity.IProjectInfo.svc" service="HD.MeteringPayment.Service.ProjectInfoService"/>
        <add relativeAddress="HD.MeteringPayment.Domain.Entity.BaseInfoEntity.IProjectBid.svc" service="HD.MeteringPayment.Service.ProjectBidService"/>
        <add relativeAddress="HD.MeteringPayment.Domain.Entity.BaseInfoEntity.IManager.svc" service="HD.MeteringPayment.Service.ManagerService"/>
        <add relativeAddress="HD.MeteringPayment.Domain.Entity.ContractBoqEntity.IContractBoq.svc" service="HD.MeteringPayment.Service.ContractBoqService"/>
        <add relativeAddress="HD.MeteringPayment.Domain.Entity.ContractBoqEntity.IContractBoqChange.svc" service="HD.MeteringPayment.Service.ContractBoqChangeService"/>
        <add relativeAddress="HD.MeteringPayment.Domain.Entity.WBSBoqEntity.IWBSBoq.svc" service="HD.MeteringPayment.Service.WBSBoqService"/>
        <add relativeAddress="HD.MeteringPayment.Domain.Entity.ContractEntity.IContract.svc" service="HD.MeteringPayment.Service.ContractService"/>
        <add relativeAddress="HD.MeteringPayment.Domain.Entity.ContractEntity.IXMBContractInfo.svc" service="HD.MeteringPayment.Service.XMBContractInfoService"/>
        <add relativeAddress="HD.MeteringPayment.Domain.Entity.BaseInfoEntity.IXMBProjectInfo.svc" service="HD.MeteringPayment.Service.XMBProjectInfoService"/>
        <add relativeAddress="HD.MeteringPayment.Domain.Entity.BaseInfoEntity.ICtrctAgreement.svc" service="HD.MeteringPayment.Service.CtrctAgreementService"/>
        <add relativeAddress="HD.MeteringPayment.Domain.Entity.ProgressMeteringEntity.IPrjAmount.svc" service="HD.MeteringPayment.Service.PrjAmountService"/>
        <add relativeAddress="HD.MeteringPayment.Domain.Entity.ProgressMeteringRptEntity.IPrjAmountRpt.svc" service="HD.MeteringPayment.Service.PrjAmountRptService"/>
        <add relativeAddress="Erp.CommonData.Interface.ICompleteApproval.svc" service="HD.MeteringPayment.Service.PrjAmountApprovalService"/>
        <add relativeAddress="HD.MeteringPayment.Domain.Entity.BaseInfoEntity.IGlUsers.svc" service="HD.MeteringPayment.Service.GlUsersService"/>
      </serviceActivations>
    </serviceHostingEnvironment>
    <extensions>
      <behaviorExtensions>
        <add name="FaultBehaviorExtension" type="Hondee.CommonAdvance.EndpointBehaviors.FaultBehavior, Hondee.CommonAdvance"/>
        <add name="CompressBehaviorExtension" type="Hondee.Common.Server.WCFMessageCompress.ServiceCompressBehavior, Hondee.Common"/>
        <add name="ServiceUserInfoBehavior" type="Hondee.Common.Server.WCFUserInfo.ServiceUserInfoBehavior, Hondee.Common"/>
        <add name="ServiceInitializeBehavior" type="Hondee.Common.Server.WCFInitialize.ServiceInitializeBehavior, Hondee.Common"/>
      </behaviorExtensions>
    </extensions>
    <bindings>
      <netTcpBinding>
        <binding closeTimeout="00:30:00" openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="10" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign"/>
            <message clientCredentialType="None"/>
          </security>
        </binding>
        <binding name="netTcpBindConfig" closeTimeout="00:30:00" openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="10" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel="None"/>
            <message clientCredentialType="None"/>
          </security>
        </binding>
        <binding name="NetTcpBinding_GpPlatform" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxConnections="1000" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign"/>
            <message clientCredentialType="None"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="MyBehavior" name="HD.MeteringPayment.Service.ProjectInfoService">
        <endpoint address="tcp" binding="netTcpBinding" bindingConfiguration="netTcpBindConfig" behaviorConfiguration="FaultBehavior" contract="HD.MeteringPayment.Domain.Entity.BaseInfoEntity.IProjectInfo"/>
        <endpoint address="tcpmex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="MyBehavior" name="HD.MeteringPayment.Service.ProjectBidService">
        <endpoint address="tcp" binding="netTcpBinding" bindingConfiguration="netTcpBindConfig" behaviorConfiguration="FaultBehavior" contract="HD.MeteringPayment.Domain.Entity.BaseInfoEntity.IProjectBid"/>
        <endpoint address="tcpmex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="MyBehavior" name="HD.MeteringPayment.Service.CmnPeriodService">
        <endpoint address="tcp" binding="netTcpBinding" bindingConfiguration="netTcpBindConfig" behaviorConfiguration="FaultBehavior" contract="HD.MeteringPayment.Domain.Entity.BaseInfoEntity.ICmnPeriod"/>
        <endpoint address="tcpmex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="MyBehavior" name="HD.MeteringPayment.Service.ManagerService">
        <endpoint address="tcp" binding="netTcpBinding" bindingConfiguration="netTcpBindConfig" behaviorConfiguration="FaultBehavior" contract="HD.MeteringPayment.Domain.Entity.BaseInfoEntity.IManager"/>
        <endpoint address="tcpmex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="MyBehavior" name="HD.MeteringPayment.Service.ContractService">
        <endpoint address="tcp" binding="netTcpBinding" bindingConfiguration="netTcpBindConfig" behaviorConfiguration="FaultBehavior" contract="HD.MeteringPayment.Domain.Entity.ContractEntity.IContract"/>
        <endpoint address="tcpmex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="MyBehavior" name="HD.MeteringPayment.Service.ContractBoqService">
        <endpoint address="tcp" binding="netTcpBinding" bindingConfiguration="netTcpBindConfig" behaviorConfiguration="FaultBehavior" contract="HD.MeteringPayment.Domain.Entity.ContractBoqEntity.IContractBoq"/>
        <endpoint address="tcpmex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="MyBehavior" name="HD.MeteringPayment.Service.ContractBoqChangeService">
        <endpoint address="tcp" binding="netTcpBinding" bindingConfiguration="netTcpBindConfig" behaviorConfiguration="FaultBehavior" contract="HD.MeteringPayment.Domain.Entity.ContractBoqEntity.IContractBoqChange"/>
        <endpoint address="tcpmex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="MyBehavior" name="HD.MeteringPayment.Service.WBSBoqService">
        <endpoint address="tcp" binding="netTcpBinding" bindingConfiguration="netTcpBindConfig" behaviorConfiguration="FaultBehavior" contract="HD.MeteringPayment.Domain.Entity.WBSBoqEntity.IWBSBoq"/>
        <endpoint address="tcpmex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="MyBehavior" name="HD.MeteringPayment.Service.XMBContractInfoService">
        <endpoint address="tcp" binding="netTcpBinding" bindingConfiguration="netTcpBindConfig" behaviorConfiguration="FaultBehavior" contract="HD.MeteringPayment.Domain.Entity.ContractEntity.IXMBContractInfo"/>
        <endpoint address="tcpmex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="MyBehavior" name="HD.MeteringPayment.Service.XMBProjectInfoService">
        <endpoint address="tcp" binding="netTcpBinding" bindingConfiguration="netTcpBindConfig" behaviorConfiguration="FaultBehavior" contract="HD.MeteringPayment.Domain.Entity.BaseInfoEntity.IXMBProjectInfo"/>
        <endpoint address="tcpmex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="MyBehavior" name="HD.MeteringPayment.Service.CtrctAgreementService">
        <endpoint address="tcp" binding="netTcpBinding" bindingConfiguration="netTcpBindConfig" behaviorConfiguration="FaultBehavior" contract="HD.MeteringPayment.Domain.Entity.BaseInfoEntity.ICtrctAgreement"/>
        <endpoint address="tcpmex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="MyBehavior" name="HD.MeteringPayment.Service.PrjAmountService">
        <endpoint address="tcp" binding="netTcpBinding" bindingConfiguration="netTcpBindConfig" behaviorConfiguration="FaultBehavior" contract="HD.MeteringPayment.Domain.Entity.ProgressMeteringEntity.IPrjAmount"/>
        <endpoint address="tcpmex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="MyBehavior" name="HD.MeteringPayment.Service.PrjAmountApprovalService">
        <endpoint address="tcp" binding="netTcpBinding" bindingConfiguration="netTcpBindConfig" behaviorConfiguration="FaultBehavior" contract="Erp.CommonData.Interface.ICompleteApproval"/>
        <endpoint address="tcpmex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="MyBehavior" name="HD.MeteringPayment.Service.PrjAmountRptService">
        <endpoint address="tcp" binding="netTcpBinding" bindingConfiguration="netTcpBindConfig" behaviorConfiguration="FaultBehavior" contract="HD.MeteringPayment.Domain.Entity.ProgressMeteringRptEntity.IPrjAmountRpt"/>
        <endpoint address="tcpmex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="MyBehavior" name="HD.MeteringPayment.Service.GlUsersService">
        <endpoint address="tcp" binding="netTcpBinding" bindingConfiguration="netTcpBindConfig" behaviorConfiguration="FaultBehavior" contract="HD.MeteringPayment.Domain.Entity.BaseInfoEntity.IGlUsers"/>
        <endpoint address="tcpmex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="FaultBehavior">
          <FaultBehaviorExtension/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
        <behavior name="MyBehavior">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          <CompressBehaviorExtension/>
          <ServiceUserInfoBehavior/>
          <ServiceInitializeBehavior/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="TextWriterOutput.log"/>
        <remove name="Default"/>
      </listeners>
    </trace>
  </system.diagnostics>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="false"/>
  </system.webServer>
  <log4net>
    <!-- Console部分log输出格式的设定 -->
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger %ndc - %message%newline"/>
      </layout>
    </appender>
    <!-- 日志文件部分log输出格式的设定 -->
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log.txt"/>
      <appendToFile value="true"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="1MB"/>
      <rollingStyle value="Size"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <header value="[Header] "/>
        <footer value="[Footer] "/>
        <ConversionPattern value="%date [%thread] %-5level %logger [%ndc] 行号:%L- %message%newline"/>
      </layout>
    </appender>
    <!-- Setup the root category, add the appenders and set the default level -->
    <root>
      <level value="ALL"/>
      <appender-ref ref="ConsoleAppender"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.7.0" newVersion="2.0.7.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>